<div class="widget mt-4">
	<div class="row-wrapper">
		<div class="row cols-md-space cols-sm-space cols-xs-space">


            <% Productor.all.each do |t| %>
			<div class="col-lg-4">
				<div class="block block--style-3">
					<div class="profile-picture profile-picture--style-2">
                        <% if t.avatar.attached? %>
                        <%= image_tag t.avatar %>
                        <% else %>
                        <img src="https://image.flaticon.com/icons/svg/0/93.svg" >
                        <% end %>
					</div>

					<ul>
    					<% @productors.each do |productor| %>
        					<li><%= productor.name %></li>
        					<li><%= productor.description %></li>
        					<li><%= productor.phone_number %></li>
    					<% end %>
					</ul>


					<div class="block-body text-center">
						<h3 class="heading heading-6 strong-600 mb-0 mb-0"><%= t.name %></h3>
						<br />
						<h3 class="heading heading-light heading-sm strong-300"><%= t.description %></h3>
						<h3 class="heading heading-light heading-sm strong-300"><%= t.phone_number %></h3>
                        <a href="/productors/<%= t.id %>" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Voir Producteur</a>
					</div>
				</div>
			</div>
			<% end %>






		</div>
	</div>
</div>

