<% provide :head_tags do %>
	<%= javascript_include_tag "openStreetMaps", "data-turbolinks-track" => "reload" %>
<% end %>

<%= map(:center => {
  :latlng => [49.24914, 2.460288],
  :zoom => 10
}) %>


<div class="container">
	<div class="widget mt-4">

		<div class="row-wrapper">
			<ul class="nav nav-tabs justify-content-center mb-5" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#locals">Locaux</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#suppliers">Fournisseurs</a>
				</li>
			</ul>
		</div>

		<div class="row-wrapper">
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="locals" role="tabpanel" aria-labelledby="locals-tab">
					<% if super_admin? || admin? %>
						<div class="d-flex">
							<%= link_to  "Ajouter un producteur", new_productor_path, class: "btn btn-base-1 btn-shadow btn-circle px-4 mx-auto mb-4" %>
						</div>
					<% end %>

					<div class="row cols-md-space cols-sm-space cols-xs-space">
						<%= render partial: "productors", locals: {productors: @productors.where(local: true)} %>
					</div>
				</div>

				<div class="tab-pane fade" id="suppliers" role="tabpanel" aria-labelledby="suppliers-tab">
					<% if super_admin? || admin? %>
						<div class="d-flex">
							<%= link_to  "Ajouter un fournisseur", new_productor_path, class: "btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mx-auto " %>
						</div>
					<% end %>
		
					<div class="row cols-md-space cols-sm-space cols-xs-space">
						<%= render partial: "productors", locals: {productors: @productors.where(local: false)} %>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>
