<!-- Launch Google Maps -->
<% provide :head_tags do %>
<meta name="turbolinks-visit-control" content="reload">
<script>
  document.addEventListener("DOMContentLoaded", function () {
    initMap(<%= @productor.address.coordonnee unless @productor.address.nil? %>)
    });
</script>
<% end %>

<section class="slice ct-color-1">
  <div class="container">
    <div class="row row-no-padding">
      <div class="col-lg-12">

        <div class="card no-border">
          <div class="row align-items-center cols-md-delimited cols-lg-delimited">
            <div class="block block--style-3 col-md-4">
              <div class="profile-picture profile-picture--style-2">
                <% if @productor.avatar.attached? %>
                <%= image_tag @productor.avatar.variant(resize: '140x140').processed %>
                <% else %>
                <img src="https://image.flaticon.com/icons/svg/0/93.svg" class="profil-img">
                <% end %>
              </div>

              <div class="block-body text-center">
                <h3 class="heading heading-6 strong-600 mb-0 mb-0">
                  <%= @productor.name %>
                </h3>
                <br />
                <h2 class="heading heading-3 heading-sm strong-300">
                  <%= @productor.phone_number if @productor.phone_number.present? %>
                </h2>

                <% if @productor.address.present? %>
                <h3 class="heading heading-light heading-sm strong-300">
                  <%= @productor.address.street_name_1 %>
                </h3>
                <h4 class="heading heading-light heading-sm strong-300">
                  <%= @productor.address.street_name_2 %>
                </h4>
                <h3 class="heading heading-light heading-sm strong-300">
                  <%= @productor.address.city %>
                  <%= @productor.address.postal_code %>
                </h3>

                <% else %>
                <h3 class="heading heading-light heading-sm strong-300">Adressse non renseignée</h3>
                <% end %>

                <h3 class="heading heading-light heading-sm strong-300">
                  <% if @productor.website_url.present? %>
                    <%= link_to  @productor.website_url, @productor.website_url, class:"" %>
                  <% end %>
                </h3>

                <% if current_member.role == "super_admin" || current_member.role == "admin" %> 
                  <%= link_to  "Éditer", edit_productor_path(@productor.id), class: "btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mt-4" %>
                  <%= link_to 'Suprimer', productor_path(@productor.id), method: :delete, class: "btn btn-danger btn-shadow btn-circle px-4 mb-4 mt-4" %> 
               <% end %>

              </div>
            </div>

            <h2 class="heading heading-3 heading-sm strong-300">
              <%= @productor.description %>
            </h2>
            <div class="col-md-8 ">
              <!--The div element for the map -->
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center pt-5 ml-2">
    <div class="col-6">
      <%= link_to " Retour", productors_path, class: "fas fa-arrow-left" %>
    </div>
  </div>
</section>