<h1>Productors#show</h1>
<p>Find me in app/views/productors/show.html.erb</p>

<ul>
    <% @productors.each do |productor| %>
        <li><%= productor.name %></li>
        <li><%= productor.description %></li>
        <li><%= productor.phone_number %></li>
    <% end %>
</ul>

    <h3>My Google Maps lat = <%=@lat%>; lng = <%=@lng%>; address = <%=@address%>; <%=@valide%> </h3>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var station_f = {lat: 48.833921, lng: 2.371345};
  var station_f2 = {lat: <%=@lat%> , lng: <%=@lng%>};





  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 17, center: station_f2});
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: station_f, map: map});
  var marker = new google.maps.Marker({position: station_f2, map: map});
}
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials[:google_key] %>&callback=initMap">
    </script>
