<section class="slice-xl slice--offset-top has-bg-cover bg-size-cover" style="background-image: url(<%= asset_path('coop5.jpg') %>); background-position: bottom center;">
    <span class="mask mask-dark--style-3"></span>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="py-5">
                    <h2 class="heading heading-inverse heading-xl strong-900 text-capitalize line-height-1_2 animated text-center" data-animation-in="fadeInDownBig" data-animation-delay="200">
                        La Coop
                    </h2>
                    <p class="lead c-white animated mt-3 heading heading-3 strong-900" data-animation-in="fadeInUpBig" data-animation-delay="200">
                        Tout est à créer, tout est à rêver.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1">
    <div class="container">
        <div class="row cols-md-space cols-sm-space cols-xs-space">
            <div class="col-lg-12">
                <h4 class="heading heading-1 strong-600 line-height-1_8 text-center">Un supermarché qui crée du lien</h4>
                <hr class="mt-2 mb-5">
                <div class="card-wrapper">
                    <div class="card z-depth-2-top">
                        <div class="row ">
                            <div class="col-md-4">
                                <%= image_tag "hand-shake-black.png", class: "img-fluid" %>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="heading heading-5 strong-600"> Du lien entre les membres </h5>
                                    <p>Pour honorer ses 3 heures de travail, chaque membre, en fonction
                                    de ses envies, préférences, compétences, disponibilités...
                                    sera intégré au sein d’une équipe pour réaliser des missions ou
                                    tâches nécessaires au bon fonctionnement du magasin.
                                    Cette implication et participation active sera un moteur de lien
                                    social entre les membres.</p>
                                    <h5 class="heading heading-5 strong-600">Du lien avec les producteurs</h5>
                                    <p>
                                    Rencontrer les producteurs, organiser
                                    des visites sur les lieux de productions,
                                    comprendre la saisonnalité des produits...
                                    </p>  
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card z-depth-2-top">
                        <h4 class="heading heading-1 strong-600 line-height-1_8 text-center">Un supermarché qui fait du bien</h4>
                        <hr class="mt-2 mb-5">
                        <div class="row ">
                            <div class="col-md-4">
                                <%= image_tag "hand-coeur.jpg", class: "img-fluid" %>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="heading heading-5 strong-600"> Du bien à ma santé et à l’environnement </h5>
                                    <p>La priorité sera donnée aux produits locaux, naturels et/ou bio.
                                    Le conditionnement en vrac sera privilégié afin d’éviter le gâchis et
                                    les pertes.
                                    Les produits conventionnels sont encore en réflexion. Nous
                                    pensons sensibiliser autour de produits alternatifs avant
                                    l’ouverture.</p>
                                                   
                                    <h5 class="heading heading-5 strong-600">Du bien au porte-monnaie</h5>
                                    <p>
                                        Les charges financières seront réduites par le système coopératif que
                                        nous souhaitons mettre en place, ce qui permettra de limiter la
                                        marge sur les produits afin de rendre accessible les produits au plus grand nombre.
                                    </p>  
                                    <h5 class="heading heading-5 strong-600">Du bien à mes papilles</h5>
                                    <p>
                                    Retrouver des produits qui ont du goût ! Les produits seront testés et
                                    sélectionnés avec soin par les membres pour leurs qualités gustatives et nutritionnelles.
                                    </p>                                            
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card z-depth-2-top">
                        <h4 class="heading heading-1 strong-600 line-height-1_8 text-center">Un supermarché qui t’appartient</h4>
                        <hr class="mt-2 mb-5">
                        <div class="row ">
                            <div class="col-md-4">
                               <%= image_tag "foule.jpg", class: "img-fluid" %>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                   <h5 class="heading heading-5 strong-600"> Le supermarché qui appartient à ses membres </h5>
                                    <p>Pour être membre et avoir le droit d’acheter des produits, il faudra
                                    acheter une part sociale de la coopérative qui gère le magasin.
                                    Les membres seront donc sociétaires de la coopérative et pourront
                                    participer aux temps de décisions et aux orientations des Assemblées
                                    Générales.
                                    Les membres pourront participer à l’ensemble des décisions
                                    concernant le choix des produits et l’organisation du magasin.</p>
                                                   
                                    <h5 class="heading heading-5 strong-600">Un supermarché ouvert à tous</h5>
                                    <p>
                                    Le montant de la part sociale à acquérir pour devenir membre sera
                                    symbolique, de façon à ce que tous puissent adhérer, personnes à faible
                                    revenus comprises (avec la possibilité de parts sociales « dites réduites »).
                                    </p>  

                                    <h5 class="heading heading-5 strong-600">Un supermarché qui évolue</h5>
                                    <p>
                                    Toutes les prises d’initiatives émanant des membres seront considérés et
                                    accompagnées si elles s’inscrivent dans les valeurs du projet.
                                    </p>                       
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<% if member_signed_in? == false %>
        <section class="cta-wrapper mt-4">
                <div class="slice cta-inner bg-color-vert">
                    <div class="flex flex-items-xs-middle">
                        <div class="flex-wrap-item">
                            <div class="sct-inner ">
                                <div class="container">
                                    <div class="text-center">
                                        <h1 class="heading heading-1 text-normal c-base-text-1 strong-600">
                                            <%= link_to "S'ENGAGER POUR LA COOP", new_member_registration_path, class: "banner-end" %>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </section>
    <% end %>