<div class="container d-flex justify-content-center mb-3">
  <div class="p-2">
    <h2>Reconfirmation de l'adresse mail</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field my-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Renvoyer les instructions", class: "btn btn-update" %>
      </div>
    <% end %>

    <div class="form-user-footer-links pt-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
