  <tr>
    <td scope="row">
      <%= link_to document.file.filename.to_s,
                  rails_blob_path(document.file, disposition: "attachment") %>
    </td>
    <td scope="row">
      <% if document.file.previewable? %>
        <%= link_to(image_tag(document.file.preview(resize: "90x90")),
                    rails_blob_path(document.file, disposition: "attachment")) %>
      <% else %>
        <%= link_to document.file.filename,
            rails_blob_path(document.file, disposition: "attachment") %>
      <% end %>
    </td>
    <td scope="row">
    <%= link_to translate('main_app.views.application.buttons.edit'), edit_document_path(document.id), class: 'btn btn-mini btn-primary' %>
      <%= link_to translate('main_app.views.application.buttons.destroy'),
        document, method: :delete, id: document.id,
        class: 'btn btn-mini btn-danger',
        data: {
          confirm: t('main_app.views.application.buttons.destroy_confirm', model: Document.model_name),
          remote: true 
        } if policy(Document).destroy? %>
    </td>
  </tr>
