<br/>

<div class="card no-border">
  <div class="widget mt-4">
    <div class="row-wrapper">
      <ul class="nav nav-tabs justify-content-center mb-5" role="tablist">
        <% Document.category.values.each_with_index do |category, index| %>
          <li class="nav-item">
            <a class="nav-link <%= 'active' if index.zero? %>" data-toggle="tab" href="#<%= category %>">
              <%= t "enumerize.document.category.#{category}" %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="row-wrapper">
      <div class="tab-content" id="myTabContent">
        <% Document.category.values.each_with_index do |category, index| %>
          <div class="tab-pane fade show <%= 'active' if index.zero? %>" id=<%= category %> role="tabpanel" aria-labelledby="<%= category %>-tab">
            <div class="row cols-md-space cols-sm-space cols-xs-space">
              <table id="documents" class="table table-sm table-hover">
                <thead>
                  <tr>
                    <th scope="col"> <%=  Document.human_attribute_name(:file_name) %></th> 
                    <th scope="col"><%= t '.download_file' %></th>
                  </tr>
                </thead>

                <tbody>
                  <%= render partial: "documents/document", collection: @documents.select {|document|
                    document.category == category 
                  } %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
