<div class="body-wrap">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <section class="slice sct-color-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="card form-card form-card--style-1">
                        <div class="form-header text-center">
                            <div class="form-header-icon">
                                <i class="fas fa-user fa-3x"></i>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="text-center px-2">
                                <h4 class="heading heading-4 strong-400 mb-4">Se Connecter</h4>
                            </div>

                            <form class="form-default" role="form">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="field">
                                          <%= f.label :email, "E-mail" %><br />
                                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg" %>
                                        </div>
                                      <br />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                          <%= f.label :password, "Mot de passe" %><br />
                                          <%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-lg" %> 
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <% if devise_mapping.rememberable? -%>
                                          <div class="field">
                                            <%= f.check_box :remember_me %>
                                            <%= f.label :remember_me, "Mémoriser" %>
                                          </div>
                                        <% end -%>
                                    </div>
                                </div>
                                <div class="actions">
                                  <%= f.submit "Sign in", class: "btn-sign-in btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- Form auxiliary links -->
                    <div class="form-user-footer-links pt-2">
                        <div class="row">
                            <div class="col-6">
                                <a href="recover-1.html" class="">Recover password</a>
                            </div>
                            <div class="col-6 text-right">
                                 <%= link_to "Create a new account", new_member_registration_path %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  <% end %>
</div>



  
  

  





