<section class="px-inline-only-2">
  <h2 class="heading heading-3 strong-500">
    <%= t "main_app.views.missions.show.attendees" %> : <%= @mission.members.length %>
    <hr class="mt-0 mb-0">
  </h2>

  <%= render partial: 'missions/enrollment', collection: @mission.members.uniq, as: :member %>

  <div class="d-flex justify-content-around">
    <p>
    <%= Mission.human_attribute_name(:min_member_count) %> :
    <%= @mission.min_member_count %>
    </p>
    <p>
    <%= Mission.human_attribute_name(:max_member_count) %> :
    <%= @mission.max_member_count.nil? ?
    t("main_app.views.application.messages.undefined") : @mission.max_member_count %>
    </p>
  </div>
</section>
