
<% if mission.time_slots_selection_for_current_member.empty? %>
  <p> <%= t('.no_time_slot_available') %> </p>
<% else %>
  <%= form_with scope: :slot, method: :put, url: mission_slot_path(@mission.id, @mission.slots.first) do |f| %>
    <% mission.time_slots_selection_for_current_member.each do |slot_time| %>
      <div class="container">
        <%= f.check_box("start_times", {:multiple => true, checked: mission.time_slot_is_already_selected?(slot_time)}, slot_time, nil) %>
        <%= f.label t('.slot_details', start_time: slot_time.strftime('%Hh%M'), end_time: (slot_time + 90.minutes).strftime('%Hh%M')) %>
        <%= f.hidden_field :member_id, value: current_member.id %>
      </div>
    <% end%>
    <%= f.submit translate(".button_enroll_to_slots"),
      class: "d-block text-center btn btn-base-1 btn-shadow btn-circle px-4 mx-auto mt-2" %>
  <% end %>
<% end %>
