<div class="form-default mt-4">
  <%= form_with model: mission, local: true do |f| %>
  <div class="col">
    <small class="my-2">Les champs marqués d'un * sont obligatoires</small>
    <div class="col-lg-12">
      <div class="field">
      <%= f.label :name, "Nom de la mission *" %><br />
      <%= f.text_field :name, class: "form-control form-control-lg", required: true %>
      </div><br />
      
      <div class="field">
        <%= f.label :description, "Description *" %><br />
        <%= f.text_area :description, class: "form-control form-control-lg", required: true %>
      </div><br />
      
      <div class="field">
        <%= f.label :min_member_count, "Nombre de personnes minimun souhaité *" %><br />
        <%= f.number_field :min_member_count, class: "form-control form-control-lg", required: true %>
      </div><br />
      
      <div class="field">
        <%= f.label :max_member_count, "Nombre maximum de participants *" %><br />
        <%= f.number_field :max_member_count, class: "form-control form-control-lg", required: true %>
      </div><br />
      
      <div class="field my-3">
       <%= f.label :recurrent, "Mission regulière?" %>
       <%= f.check_box :recurrent %>
      </div>
      
      <div class="field">
       <%= f.label :start_date, "Date de début" %>
       <%= f.datetime_field :start_date, class: "form-control form-control-lg" %>
      </div>
      
      <div class="field">
        <%= f.label :due_date, "Date limite" %><br />
        <%= f.datetime_field :due_date, class: "form-control form-control-lg" %>
      </div> 
    </div>
  </div>
  <br />
  
  <h4>Adresses optionnelles</h4>
    <%= f.fields_for :addresses, mission.addresses do |address| %>
      <%= render 'address_fields', f: address %>
    <% end %>
    <div>
      <%= link_to_add_association 'Ajouter une addresse', f, :addresses %> 
    </div>

  <div class="actions">
    <%= f.submit "Valider", class: "btn-update btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>
  <% end %>
  </div>
</div>