<div class="form-default mt-4">
  <%= form_with model: mission, local: true do |f| %>
    <div class="col-lg-12">
      <div class="field">
        <%= f.label :name, Mission.human_attribute_name(:name) %><br />
        <%= f.text_field :name, class: "form-control form-control-lg", required: true %>
      </div><br />

      <div class="field">
        <%= f.label :description, Mission.human_attribute_name(:description) %><br />
        <%= f.hidden_field :description %>
        <trix-editor input="mission_description"></trix-editor>
      </div><br />

      <div class="d-flex mb-4">
        <div class="field mr-auto pr-3">
          <%= f.label :min_member_count, Mission.human_attribute_name(:min_member_count) %><br />
          <%= f.number_field :min_member_count, class: "form-control form-control-lg" %>
        </div><br />

        <div class="field">
          <%= f.label :max_member_count, Mission.human_attribute_name(:max_member_count) %><br />
          <%= f.number_field :max_member_count, class: "form-control form-control-lg" %>
        </div><br />
      </div>

      <div class="d-flex flex-wrap mb-4">
        <div class="field mr-auto">
          <%= f.label :start_date, Mission.human_attribute_name(:start_date) %>
          <%= f.datetime_field :start_date, class: "form-control form-control-lg" %>
        </div>

        <div class="field">
          <%= f.label :due_date, Mission.human_attribute_name(:due_date) %><br />
          <%= f.datetime_field :due_date, class: "form-control form-control-lg" %>
        </div>
      </div>

      <div class="d-flex mb-4">
        <div class="field mr-4">
          <%= f.label :recurrent, Mission.human_attribute_name(:recurrent) %>
          <%= f.check_box :recurrent %>
        </div>

        <div id="recurrence-selector">
          <div class="field mb-2">
            <%= f.label "recurrence_rule", t("main_app.views.missions._form.recurrence_type") %>
            <%= f.select_recurring :recurrence_rule, nil, {:allow_blank => true}, {:class => "form-control"} %>
          </div>

          <div class="field">
            <%= f.label :recurrence_end_date, t("main_app.views.missions._form.recurrence_end_date")%><br />
            <%= f.date_field :recurrence_end_date, class: "form-control form-control-lg" %>
          </div>
        </div>
      </div>

    </div>
</div>
<br />

<h4>Adresses optionnelles</h4>
<%= f.fields_for :addresses, mission.addresses do |address| %>
  <%= render 'layouts/address_fields', f: address %>
<% end %>
<div>
  <%= link_to_add_association 'Ajouter une addresse', f, :addresses, partial: 'layouts/address_fields' %>
</div>

<div class="actions">
  <%= f.submit "Valider", class: "btn-update btn btn-styled btn-lg btn-block btn-base-1 mt-4" %>
<% end %>
</div>
