<%= form_with scope: 'participation', url: mission_participations_path(@mission.id) do |f| %>
  <h4 class="d-block text-center mx-auto">
    <%= translate ".quick_participation" %>
  </h4>
  <%= f.hidden_field :member_id, value: current_member.id %>
  <% if @mission.participants.select { |m| m.id == current_member.id }.present? %>
    <%= link_to translate(".stop_participate_button"),
      mission_participations_path(@mission.id),
      method: "DELETE",
      class: "d-block text-center btn btn-danger btn-shadow btn-circle px-4 mb-4 mt-4" %>
  <% else %>
    <%= f.submit translate(".participate_button"),
      class: "d-block text-center btn btn-base-1 btn-shadow btn-circle px-4 mx-auto mt-2" %>
  <% end %>
<% end %>
