<% if @mission.available_time_slots.empty? %>
  <p> <%= t('.no_time_slot_available') %> </p>
<% else %>
  <%= form_with scope: :enrollment, url: mission_enrollments_path(@mission.id) do |f| %>
    <h4 class="d-block text-center mx-auto">
      <%= translate ".quick_enroll" %>
    </h4>
    <% @mission.available_time_slots(current_member).each do |time_slot| %>
      <div class="container">
        <%= f.check_box("start_time", {:multiple => true, checked: current_member.decorate.time_slot_already_taken?(time_slot, @mission) }, time_slot, nil) %>
        <%= f.label t('.slot_details', start_time: time_slot.strftime('%Hh%M'), end_time: (time_slot + 90.minutes).strftime('%Hh%M')), { class: 'mr-1' } %>
        <%= f.hidden_field :member_id, value: current_member.id %>
      </div>
    <% end%>
    <%= f.submit translate(".button_enroll_to_slots"),
      class: "d-block text-center btn btn-base-1 btn-shadow btn-circle px-4 mx-auto mt-2" %>
  <% end %>
<% end %>
