<!-- Launch Google Maps -->
<% provide :head_tags do %>
<meta name="turbolinks-visit-control" content="reload">
<script>
  document.addEventListener("DOMContentLoaded", function () {
		initMap(
                <% @missions.each do |mission| %>
                    <% mission.addresses.each do |address| %>
                        <%= "#{address.coordonnee}, " unless address.coordonnee.nil? %>
                    <% end %>
				<% end %>
			);
	});
</script>
<% end %>

<div class="col-lg-12 mb-5">
    <div class="main-content">
        <!-- Page title -->
        <div class="page-title">
            <div class="row align-items-center">
                <div class="col-lg-12 col-12">
                    <h2 class="heading-missions heading heading heading-2 text-uppercase border-bottom border-dark strong-800 mt-5 mb-5">missions</h2>
                </div>
            </div>
        </div>
        <%= link_to  "Créer une nouvelle mission", new_mission_path, class:"btn btn-primary" %>
        <!-- Order history table -->
        <div class="card no-border">
            <div>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Date Creation</th>
                            <th>Date Limite</th>
                            <th><!-- Btn Show --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @missions.each do |mission| %>
                        <tr>

                            <td><%= mission.name %></td>

                            <td><%= mission.created_at %></td>
                            <td><%= mission.due_date %></td>
                            <td><% mission.addresses.each do |address| %>
                                <%= address.city %> 
                            <% end %></td>
                            <td>
                                <%= link_to "Voir", mission_path(mission.id), class: "btn btn-dark" %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-md-8 ">
    <!-- Google Map -->
    <div id="map"></div>
</div>