<div class="body-wrap">
    <section class="slice sct-color-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card form-card form-card--style-1">
                        <div class="form-header text-center">
                            <div class="form-header-icon">
                                <i class="fas fa-calendar-alt fa-3x"></i>
                            </div>
                        </div>
                        <div class="form-body">
                            <div class="text-center px-2">
                                <h4 class="heading heading-3 strong-400 mb-4">Crée une mission</h4>
                            </div>

                            <form class="form-default" role="form">
                               <%= form_with model: @mission, local: true do |f| %>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="field">
                                          <%= f.label :name, "Nom de la mission" %>
                                          <%= f.text_field :name, class: "form-control form-control-lg" %>
                                        </div>
                                      <br />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                         <%= f.label :description, "Description" %>
                                         <%= f.text_area :description, class: "form-control form-control-lg" %>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                         <%= f.label :due_date, "Date limite" %>
                                         <%= f.date_field :due_date, class: "form-control form-control-lg" %>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />

                                <!-- the following nested field will be generated 2 times (via missions_controller.rb) -->
                                <%= f.fields_for :addresses do |address| %>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                          <%= address.label :street_name_1, "n° et nom de voie" %>
                                          <%= address.text_field :street_name_1, class: "form-control form-control-lg" %>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                          <%= address.label :street_name_2, "Complément d'adresse"%>
                                          <%= address.text_field :street_name_2, class: "form-control form-control-lg" %>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                          <%= address.label :city, "Ville" %>
                                          <%= address.text_field :city, class: "form-control form-control-lg" %>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="field">
                                           <%= address.label :postal_code, "Code Postal" %>
                                           <%= address.text_field :postal_code, class: "form-control form-control-lg" %>
                                          <br /><br />
                                        </div>
                                    </div>
                                  </div>
                                <% end %>

                                <div class="actions">
                                     <%= f.submit "Crée la mission", class: "btn-sign-in btn btn-styled btn-lg btn-block btn-base-1 mt-4"  %>
                                </div>
                                <% end %>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>