 <section class="slice-xl sct-color-1">
 	<div class="container">
 		<div class="row align-items cols-xs-space cols-sm-space cols-md-space">
 			<div class="col-lg-8 ml-lg-auto order-lg-2">
 				<div class="px-inline-only-2">
 					<h3 class="heading heading-2 strong-500">
 						Description :
 					</h3>

 					<p class="text-lg line-height-1_8 mt-4">
          			 	<%= @mission.description %>
          			</p>
 				</div>
 			</div>

 			<div class="col-lg-4 order-lg-1">
 				<div class="">
 					<div class="progress-wrapper">
 						<h4 class="progress-label text-capitalize text-md strong-600">Nom:</h4>
 						<h4> <%= @mission.name %> </h4>
 						<hr class="mt-0 mb-0">
 					</div>
					<div class="progress-wrapper mt-4">
 						<h4 class="progress-label text-capitalize text-md strong-600">Crée le:</h4>
 						<h4> <%= @mission.created_at %> </h4>
 						<hr class="mt-0 mb-0">
 					</div>
 					<div class="progress-wrapper mt-4">
 						<h4 class="progress-label text-capitalize text-md strong-600">Date Limite:</h4>
 						<h4> <%= @mission.due_date %></h4>
 						<hr class="mt-0 mb-0">
 					</div>
					<% @mission.addresses.each do |address| %>
 					<div class="progress-wrapper mt-4">            
 						<h4 class="progress-label text-capitalize text-md strong-600">Lieux:</h4>
 						<h4><%= address.street_name_1 %> </h4>
 						<h4><%= address.postal_code %> - <%= address.city %></h4>
          </div>
          <% end %>
				 </div>
				 <%= link_to  "Éditer", edit_mission_path(@mission.id), class: "btn btn-success" %>
 			</div>
 		</div>
 	</div>
 </section>
