<% provide :head_tags do %>
  <%= stylesheet_link_tag 'missions' %>
<% end %>

<div class="container py-3">
  <div class="row">
    <main class="col-lg-8 ml-lg-auto order-lg-2">
      <h1 class="heading heading-2 strong-500">
        <%= @mission.name.capitalize %>
        <hr class="mt-0 mb-0">
      </h1>

      <section class="text-lg line-height-1_8 mt-4">
        <p><%= sanitize @mission.description %></p>
        <hr class="w-25">
      </section>

      <section class="px-inline-only-2">
        <h2 class="heading heading-3 strong-500">
          <%= t "main_app.views.missions.show.attendees" %> : <%= @mission.members.length %>
          <hr class="mt-0 mb-0">
        </h2>

        <div class="my-4 text-lg line-height-1_8 mt-4">
          <% @mission.members.each do |member| %>
            <%= link_to "#{member.first_name} #{member.last_name}", member_path(member.id) %>,
          <% end %>
        </div>
        <div class="d-flex justify-content-around">
          <p>
            <%= Mission.human_attribute_name(:min_member_count)
            %> : <%= @mission.min_member_count %>
          </p>
          <p>
            <%= Mission.human_attribute_name(:max_member_count)
            %> : <%= @mission.max_member_count != 0 ?
              @mission.max_member_count : t("main_app.views.application.messages.undefined") %>
          </p>
        </div>
      </section>
    </main>

    <aside class="col-lg-4 order-lg-1 border">
      <% if @mission.start_date %>
        <div class="progress-wrapper mt-4">
          <h3 class="progress-label text-capitalize text-md strong-600">
            <%= translate "activerecord.attributes.mission.start_date" %> :
          </h3>
          <h4> <%=  time_tag(@mission.start_date) %> </h4>
        </div>
      <% end %>

      <% if @mission.due_date %>
        <div class="progress-wrapper mt-4">
          <h3 class="progress-label text-capitalize text-md strong-600">
            <%= translate "activerecord.attributes.mission.due_date" %> :
          </h3>
          <h4>
            <%= time_tag(@mission.due_date) %>
          </h4>
        </div>
      <% end %>

      <div class="progress-wrapper mt-4">
        <h3 class="progress-label text-capitalize text-md strong-600">
          <%= t "main_app.views.missions.show.addresses" unless @mission.addresses.empty? %>
        </h3>
        <% @mission.addresses.each do |address| %>
          <p class="heading-5">
            <%= address.street_name_1 %> <%= address.street_name_2 if address.street_name_2 %>
          </p>
          <p class="heading-6">
            <%= address.postal_code %> - <%= address.city %>
          </p>
        <% end %>
      </div>

      <hr class="mt-0 mb-0">
      <% if @mission.members.where(id: current_member.id).present? %>
        <%= link_to translate("main_app.views.missions.show.button_disenroll"),
          enroll_in_mission_path(@mission.id),
          method: "DELETE",
          class: "d-block text-center btn btn-danger btn-shadow btn-circle px-4 mb-4 mt-4" %>
      <% else %>
        <%= link_to translate("main_app.views.missions.show.button_enroll"),
          enroll_in_mission_path(@mission.id),
          method: "POST",
          class: "d-block text-center btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mt-4"%>
      <% end %>

      <div class="progress-wrapper mt-4 d-flex justify-content-between">
        <% if super_admin? || admin? || current_member.id == @mission.author_id  %>
          <%= link_to t("main_app.views.application.buttons.destroy"),
                      mission_path(@mission.id),
                      data: { confirm: t("main_app.views.application.buttons.destroy_confirm",
                                         model: Mission.model_name.human) },
                      method: :delete,
                      class: "text-danger px-4 mb-4 mt-4" %>
          <%= link_to translate("main_app.views.application.buttons.edit"),
                       edit_mission_path(@mission.id),
                       class: "btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mt-4" %>
        <% end %>
      </div>
    </aside>
  </div>

  <div class="d-flex justify-content-center mr-4 mt-4">
    <%= link_to translate("main_app.views.application.buttons.back"),
      missions_path,
      class: "fas fa-arrow-left link-retour" %>
  </div>

</div>
