<h1>Infos#edit</h1>
<p>Find me in app/views/infos/edit.html.erb</p>

<%= form_with model: @info, local: true do |f| %>
  <%= f.label :title, "Titre" %>
  <%= f.text_field :title %>

  <%= f.label :content, "Contenu" %>
  <%= f.text_area :content %>

  <%= f.submit "Valider les changements", class: "btn btn-primary" %>
  <% end %>
