
<section class="slice sct-color-1">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<h3 class="heading heading-1 strong-800 mb-3">
					<%= @info.title %>
				</h3>
				<hr class="mt-0 mb-4">
				<p class="text-md">
          <%= @info.content %>
        </p>
			</div>
		</div>
		<% if current_member.role == "super_admin" || current_member.role == "admin" || current_member.id == Info.find(params[:id]).author_id  %>
			<%= link_to  "Éditer", edit_info_path(@info.id), class: "btn btn-success" %>
			<%= link_to 'Suprimer', info_path(@info.id), method: :delete, class: "btn btn-danger" %>
		<% end %>

	</div>
	<div class="row align-items-center pt-5 ml-2">
		<div class="col-6">
			<%= link_to " Retour", infos_path, class: "fas fa-arrow-left" %>
		</div>

	</div>
</section>

