<div class="col-lg-4 mb-2">
  <div class="block block--style-2">
    <div class="profile-picture profile-picture--style-2">
      <% if member.avatar.attached? %>
        <%= image_tag member.avatar %>
      <% else %>
        <img src="https://image.flaticon.com/icons/svg/0/93.svg">
      <% end %> 
    </div>

    <div class="block-body text-center">
      <h3 class="heading heading-6 strong-600 mb-0 mb-0">
        <% unless member.first_name.nil? && member.last_name.nil?  %>
          <%=  member.first_name %> <%=  member.last_name %>
        <% else %>
          <%= translate "main_app.views.members.index.member_unconfirmed" %>
        <% end %>
      </h3><br />
      <h3 class="heading heading-light heading-sm strong-300">
        <%=  member.email %>
      </h3>
      <h3 class="heading heading-light heading-sm strong-300">
        <%=  member.address.city unless member.address.nil? %>
      </h3>

      <%= link_to "Voir Membre", member_path(member.id), class: "btn btn-base-1 btn-shadow btn-circle px-4 mt-2" %>
    </div>
  </div>
</div>
