<h1>Members#edit</h1> 
<div class="profile-picture profile-picture--style-2">
	<% if @member.avatar.attached? %>
		<%= image_tag @member.avatar %>
	<% else %>
		<img src="https://image.flaticon.com/icons/svg/0/93.svg" class="profil-img">
	<% end %>
</div>

<h2>Modifier le profil</h2>
<%= form_with model: @member, local: true do |form| %>
  <%= form.text_field :email %>
  <%= form.text_field :first_name %>
  <%= form.text_field :last_name %>
	<%= form.file_field(:avatar, key: "avatar") %>
  <%= form.submit "Sauvegarder les changements", class: "btn btn-primary" %>
<% end %>
