<div class="container">
  <div class="widget mt-4">
    <div class="row-wrapper">
      <% if super_admin? %>
        <div class="text-center">
          <%= link_to t("devise.invitations.new.header"), new_member_invitation_path, class: 'btn btn-base-1 btn-shadow btn-circle my-4 px-4' %>
        </div>
      <% end%>

      <ul class="nav nav-tabs justify-content-center mb-5">
        <li class="nav-item">
          <a class="nav-link active" href="#all-members" data-toggle="tab" role="tab">Tous</a>
        </li>

        <% @members.groups.each do |group| %>
          <% next if group[0] == 'no_group' %>

          <li class="nav-item">
            <a class="nav-link" href="#<%= group[0] %>-group" data-toggle="tab" role="tab">
              <%= Member.human_enum_name(:group, group[0]).humanize %>
            </a>
          </li> 
        <% end %>
      </ul>

      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="all-members" role="tabpanel" aria-labelledby="all-members-tab">
          <div class="row cols-md-space cols-sm-space cols-xs-space">
            <%= render partial: "member", collection: @members %>
          </div> 
        </div>

        <% @members.groups.each do |group| %>
          <% next if group[0] == 'no_group' %>

          <div class="tab-pane fade" id="<%= group[0] %>-group" role="tabpanel" aria-labelledby="<%= group[0] %>-group-tab">
            <div class="row cols-md-space cols-sm-space cols-xs-space">
              <%= render partial: "member",
                         collection: @members.select {|member| member.group == group[0]} %>
            </div>
          </div> 
        <% end %>
      </div>

    </div>
  </div>
</div>