<div class="container">
  <div class="widget mt-4">
    <div class="row-wrapper">
      <% if super_admin? %>
        <div class="text-center">
          <%= link_to t("devise.invitations.new.header"),
                      new_member_invitation_path,
                      class: 'btn btn-base-1 btn-shadow btn-circle my-4 px-4' %>
        </div>
      <% end%>

      <ul class="nav nav-tabs justify-content-center mb-5">
        <li class="nav-item">
          <a class="nav-link active" href="#all-members" data-toggle="tab" role="tab">
            <%= t("main_app.views.members.index.all_tab") %>
          </a>
        </li>

        <% @groups.each do |group| %>
          <% presenter = GroupPresenter.new(group) %>
          <li class="nav-item">
            <a class="nav-link" href="#<%= presenter.convert_name %>-group" data-toggle="tab" role="tab">
              <%= group.name %>
            </a>
          </li> 
        <% end %>
      </ul>

      <main class="tab-content" id="myTabContent">
        <section class="tab-pane fade show active" id="all-members" role="tabpanel" aria-labelledby="all-members-tab">
          <div class="row cols-md-space cols-sm-space cols-xs-space">
            <%= render partial: "member", collection: @members %>
          </div> 
        </section>

        <% @groups.each do |group| %>
          <% presenter = GroupPresenter.new(group) %>
          <section class="tab-pane fade" id="<%= presenter.convert_name %>-group" role="tabpanel" aria-labelledby="<%= presenter.convert_name %>-group-tab">
            <div class="row cols-md-space cols-sm-space cols-xs-space">
              <%= render partial: "member",
                collection: presenter.members
              %>
            </div>
          </section> 
        <% end %>
      </main>

    </div>
  </div>
</div>
