<div class="widget mt-4">
    <div class="row-wrapper">
        <div class="row cols-md-space cols-sm-space cols-xs-space">
            <% Member.all.each do |t| %>
            <div class="col-lg-4">
                <div class="block block--style-3">
                    <div class="profile-picture profile-picture--style-2">
                        <% if t.avatar.attached? %>
                        <%= image_tag t.avatar %>
                        <% else %>
                        <img src="https://image.flaticon.com/icons/svg/0/93.svg" >
                        <% end %>
                    </div>

                    <div class="block-body text-center">
                        <h3 class="heading heading-6 strong-600 mb-0 mb-0"><%=  t.first_name %> <%=  t.last_name %></h3><br />
                        <h3 class="heading heading-light heading-sm strong-300">Email <%=  t.email %></h3>
                        <h3 class="heading heading-light heading-sm strong-300">Tel <%=  t.phone_number %></h3>
                        <h3 class="heading heading-light heading-sm strong-300">Ville</h3>

                        <a href="/members/<%= t.id %>" class="btn btn-base-1 btn-shadow btn-circle px-4 mt-2">Voir Membre</a>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</div>
