<section class="slice-sm sct-color-1">
  <div class="profile">
    <div class="container">
      <div class="row cols-xs-space cols-sm-space cols-md-space">

        <div class="col-lg-5">
          <div class="block block--style-1">
            <div class="profile-picture profile-picture--style-2">
              <% if @member.avatar.attached? %>
                <%= image_tag @member.avatar %>
              <% else %> 
                <img src="https://image.flaticon.com/icons/svg/0/93.svg" class="profil-img">
              <% end %>
            </div>
            
            <div class="block-body text-center">
              <h6 class="heading heading-6 strong-600 mb-0 mb-0">
                <%= @member.first_name %> <%= @member.last_name %>
              </h6>

              <h6 class="heading heading-light heading-sm strong-300">
                <%= @member.email %>
              </h6>

              <h6 class="heading heading-light heading-sm strong-300">
                <%= @member.phone_number %>
              </h6>
              <br/>

              <% if @member.group %>
                <h6 class="heading heading-light heading-sm strong-300">
                  Groupe <%= Member.human_enum_name(:group, @member.group) %>
                </h6>
                <br/>
              <% end %>

              <% if @member.address.present? %>
                <h6 class="heading heading-light heading-sm strong-300">
                  <%= @member.address.city %>
                </h6>
              <% end %>

              <% if super_admin? || current_member.id == params[:id].to_i  %>
                <%= link_to t("main_app.views.application.buttons.edit"),
                  edit_member_path(@member.id),
                  class: "btn btn-base-1 btn-shadow btn-circle px-4 mb-4 mt-4" %>
              <% end %>
            </div>
          </div>
        </div>
        
        <div class="col-lg-7 lg-auto order-lg-2 mt-5 d-flex flex-column justify-content-between">

          <div class="px-inline-only-2">
            <h3 class="heading heading-2 strong-500">
              <%= t("main_app.views.members.show.biography_title").humanize %>
            </h3><hr class="mt-0 mb-0">

            <p class="text-lg-7 line-height-1_8 mt-4">
              <%= sanitize @member.biography %>
              <% if @member.first_name.nil? %>
                <%= t("main_app.views.members.show.member_unconfirmed").humanize %>
              <% end %>
            </p>
          </div>
					
        </div>
      </div>

      <div class="my-4">
        <%= link_to t("main_app.views.application.buttons.back"), members_path,
          class: "fas fa-arrow-left link-retour" %>
      </div>
    </div>
  </div>
</section>
