<section class="slice-sm sct-color-1">
<div class="profile">
  <div class="container">
    <div class="row cols-xs-space cols-sm-space cols-md-space">
      <div class="col-lg-5">
        <div class="block block--style-3">         
          <div class="profile-picture profile-picture--style-2">
            <img src="<%= @member.avatar if @member.avatar.attached? %>" class="profil-img" >
          </div>
          
          <div class="block-body text-center">
            <h3 class="heading heading-6 strong-600 mb-0 mb-0"><%= @member.last_name %> <%= @member.first_name %></h3><br />
            <h3 class="heading heading-light heading-sm strong-300"><%= @member.email %></h3>
            <h3 class="heading heading-light heading-sm strong-300"><%= @member.phone_number %></h3>
          </div>
        </div>
      </div>
      
      <div class="col-lg-7 lg-auto order-lg-2 mt-5">
        <div class="px-inline-only-2">
          <h3 class="heading heading-2 strong-500">
            Présentation
          </h3><hr class="mt-0 mb-0">

          <p class="text-lg-7 line-height-1_8 mt-4">
            <%= @member.biography %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
