 <section class="slice-sm sct-color-1">
 	<div class="profile">
 		<div class="container">
 			<div class="row cols-xs-space cols-sm-space cols-md-space">
 				
 				<div class="col-lg-5">
 					<div class="block block--style-3">
 						<div class="profile-picture profile-picture--style-2">
              <% if @member.avatar.attached? %>
              <%= image_tag @member.avatar %>
              <% else %>
              <img src="https://image.flaticon.com/icons/svg/0/93.svg" class="profil-img">
              <% end %>
            </div>
            <div class="block-body text-center">
              <h3 class="heading heading-6 strong-600 mb-0 mb-0"><%= @member.first_name %> <%= @member.last_name %></h3><br />
              <h3 class="heading heading-light heading-sm strong-300"><%= @member.email %></h3>
              <h3 class="heading heading-light heading-sm strong-300"><%= @member.phone_number %></h3>
            </div>
            <% if current_member.role == "super_admin" || current_member.id == params[:id].to_i  %>
            <%= link_to  "Éditer", edit_member_path(@member.id), class: "btn btn-success" %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-7 lg-auto order-lg-2 mt-5">
          <div class="px-inline-only-2">
           <h3 class="heading heading-2 strong-500">
            Biographie
          </h3><hr class="mt-0 mb-0">

          <p class="text-lg-7 line-height-1_8 mt-4">
            <%= @member.biography %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center pt-5 ml-2">
    <div class="col-6">
      <%= link_to " Retour", members_path, class: "fas fa-arrow-left" %>
    </div>

  </div>
 </div>
</section>
